server:    
    port: 80
    session:
        timeout: 1800
spring:
  datasource:   
    url: jdbc:mysql://APP_DB_HOST:APP_DB_PORT/APP_DATABASE
    username: APP_DB_USER
    password: APP_DB_PASSWORD
    driver-class-name: com.mysql.jdbc.Driver
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:  
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
     