server:    
    port: 80
    session:
        timeout: 1800
spring:
  datasource:   
    url: jdbc:mysql://192.168.102.132:3306/customer
    username: root
    password: sunway123#
    driver-class-name: com.mysql.jdbc.Driver
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:  
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
     