<!DOCTYPE html>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">前端架构Demo</a>
		</div>
		<div>

			<ul class="nav navbar-nav">
				<li class="active"><a href="#!/"><span
						class="glyphicon glyphicon-home">Home</span></a></li>
				<li><a data-toggle="modal" data-target="#about"><span
						class="glyphicon glyphicon-info-sign">About</span></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a class="glyphicon glyphicon-cog dropdown-toggle"
					data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="./swagger-ui.html" class="glyphicon glyphicon-wrench"
							title="Time convertor"> API Docs</a> </li>
					</ul></li>
				<li><a data-toggle="modal" data-target="#signin"><span
						class="glyphicon glyphicon-user"></span> Sign In</a></li>

				<li><a href="#!/"><span class="glyphicon glyphicon-log-in"></span>
						Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
